<nav class="layout__menu">
    <ul class="menu__list">
      <li class="menu__option">
        <a href="index.html" class="menu__link">
          <i class="menu__icon fa-solid fa-house"></i>
          <span class="menu__overlay">Home</span>
        </a>
      </li>
      <li class="menu__option">
        <a href="sobre-mi.html" class="menu__link">
          <i class="menu__icon fa-solid fa-user"></i>
          <span class="menu__overlay">Sobre Mi</span>
        </a>
      </li>
      <li class="menu__option">
        <a href="estudios.html" class="menu__link">
          <i class="menu__icon fa-solid fa-graduation-cap"></i>
          <span class="menu__overlay">Estudios</span>
        </a>
      </li>
      <li class="menu__option">
        <a href="portafolio.html" class="menu__link">
          <i class="menu__icon fa-solid fa-briefcase"></i>
          <span class="menu__overlay">Portafolio</span>
        </a>
      </li>
      <li class="menu__option">
        <a href="blog.html" class="menu__link">
          <i class="menu__icon fa-solid fa-book"></i>
          <span class="menu__overlay">Blog</span>
        </a>
      </li>
      <li class="menu__option">
        <a href="contacto.html" class="menu__link">
          <i class="menu__icon fa-solid fa-envelope"></i>
          <span class="menu__overlay">Contacto</span>
        </a>
      </li>
    </ul>
  </nav>
