<nav class="layout__menu">
  <ul class="menu__list">
    <li class="menu__option">
      <a [routerLink]="['/home']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-house"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Home</span>
      </a>
    </li>
    <li class="menu__option">
      <a [routerLink]="['/sobre-mi']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-user"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Sobre Mi</span>
      </a>
    </li>
    <li class="menu__option">
      <a [routerLink]="['/estudios']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-graduation-cap"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Estudios</span>
      </a>
    </li>
    <li class="menu__option">
      <a [routerLink]="['/portafolio']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-briefcase"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Portafolio</span>
      </a>
    </li>
    <li class="menu__option">
      <a [routerLink]="['/blog']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-book"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Blog</span>
      </a>
    </li>
    <li class="menu__option">
      <a [routerLink]="['/contacto']" class="menu__link">
        <i
          class="menu__icon fa-solid fa-envelope"
          routerLinkActive="menu__icon--active"
        ></i>
        <span class="menu__overlay">Contacto</span>
      </a>
    </li>
  </ul>
</nav>
