.content__page {
    min-height: 100%;
    border-radius: 4rem;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job {
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--color-subtitle);
}