<div class="content__page content__about">
  <header class="about__header">
    <h2 class="about__title">Sobre <span class="title__color">Mi</span></h2>
  </header>

  <section class="about__personal-info">
    <article class="personal-info__bio">
      <p class="personal-info__description">
        Soy un apasionado por la programación, enfocado en el diseño y
        desarrollo de interfaces de usuario, por esta razón me desempeño como
        desarrollador Frontend usando tecnologías como Angular, Flutter y
        Django.<br />
        Me gusta trabajar en equipo, aportar ideas y mantengo en constante
        aprendizaje porque me gusta mejorar cada día.
      </p>
    </article>
    <div class="personal-info__data">
      <ul class="personal-info__list">
        <li class="personal-info__option">
          <span class="personal-info__title">Edad</span>
          <span class="personal-info__value">40 Años</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">País</span>
          <span class="personal-info__value">Colombia</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Ciudad</span>
          <span class="personal-info__value">Bogotá D.C</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Correo</span>
          <span class="personal-info__value">mirxtrem.apps@gmail.com</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Celular</span>
          <span class="personal-info__value">(+57) 317 294 4304</span>
        </li>
      </ul>
    </div>
  </section>

  <!-- <app-about-services></app-about-services> -->
  <app-about-reviews></app-about-reviews>

  <section class="about__clients">
    <header class="clients__header">
      <h2 class="clients__title">Clientes</h2>
    </header>
    <div class="clients__container">
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-1.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-2.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-3.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-4.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-5.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
    </div>
  </section>

  <section class="about__prices">
    <header class="prices__header">
      <h2 class="prices__title">Precios</h2>
    </header>
    <div class="prices__container">
      <article class="prices__box">
        <div class="prices__subtitle">
          <span class="prices_text">Normal</span>
        </div>

        <div class="prices__price">
          <span class="price__number">$20 USD </span>
          <small class="price__advice">Al mes</small>
        </div>

        <div class="prices__buy">
          <a href="#" class="prices__btn">Prueba Gratis</a>
        </div>

        <div class="prices__reward">Un curso de desarrollo web</div>
        <div class="prices__reward">Soporte a preguntas y dudas</div>
        <div class="prices__reward">Certificado de finalización</div>
      </article>
      <article class="prices__box">
        <div class="prices__subtitle">
          <span class="prices_text">Premium</span>
        </div>

        <div class="prices__price">
          <span class="price__number">$50 USD </span>
          <small class="price__advice">Al mes</small>
        </div>

        <div class="prices__buy">
          <a href="#" class="prices__btn">Prueba Gratis</a>
        </div>

        <div class="prices__reward">Cinco cursos de desarrollo web</div>
        <div class="prices__reward">Soporte a preguntas y dudas</div>
        <div class="prices__reward">Certificado de finalización</div>
      </article>
    </div>
  </section>

  <section class="about__extra">
    <header class="extra__header">
      <h2 class="extra__title">
        Información <span class="title__color">Extra</span>
      </h2>
    </header>
    <div class="extra__container">
      <article class="extra__info">
        <i class="fa-solid fa-heart extra__icon"></i>
        <h4 class="extra__subtitle">Alumnos Contentos</h4>
        <span class="extra__quantity">375.00</span>
      </article>
      <article class="extra__info">
        <i class="fa-solid fa-clock extra__icon"></i>
        <h4 class="extra__subtitle">Horas de contenido</h4>
        <span class="extra__quantity">800</span>
      </article>
      <article class="extra__info">
        <i class="fa-solid fa-star extra__icon"></i>
        <h4 class="extra__subtitle">Puntación</h4>
        <span class="extra__quantity">10</span>
      </article>
    </div>
  </section>
</div>
