<div class="content__page content__about">
  <header class="about__header">
    <h2 class="about__title">Sobre <span class="title__color">Mi</span></h2>
  </header>

  <section class="about__personal-info">
    <article class="personal-info__bio">
      <p class="personal-info__description">
        Soy un apasionado por la programación, enfocado en el diseño y
        desarrollo de interfaces de usuario, por esta razón me desempeño como
        desarrollador Frontend usando tecnologías como Angular, Flutter y
        Django.<br />
        Me gusta trabajar en equipo, aportar ideas y mantengo en constante
        aprendizaje porque me gusta mejorar cada día.
      </p>
    </article>
    <div class="personal-info__data">
      <ul class="personal-info__list">
        <li class="personal-info__option">
          <span class="personal-info__title">Edad</span>
          <span class="personal-info__value">40</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">País</span>
          <span class="personal-info__value">Colombia</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Ciudad</span>
          <span class="personal-info__value">Bogotá D.C</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Correo</span>
          <span class="personal-info__value">mirxtrem.apps@gmail.com</span>
        </li>
        <li class="personal-info__option">
          <span class="personal-info__title">Celular</span>
          <span class="personal-info__value">+57 317 294 4304</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="about__services">
    <header class="services__header">
      <h2 class="services__title">
        Mis <span class="title__color">Habilidades</span>
      </h2>
    </header>
    <div class="services__container">
      <!-- FLUTTER -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-solid fa-mobile-screen"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Flutter - Desarrollo móvil y web</h3>
          <h4 class="service_subtitle">[Experiencia: 5 Años]</h4>
          <p class="service__description">
            Desarrollo de aplicaciones móviles, web y de escritorio, manejo de
            animaciones personalizadas, persistencia de datos con SQLite, Shared
            preferences, gestor de estado Bloc, Provider y GetX. Experiencia en
            despliegue de aplicaciones en las tiendas y despliegue en servicios
            de nube como Microsoft Azure, amplia experiencia en la
            implementación de Firebase.
          </p>
        </div>
      </article>
      <!-- PYTHON -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-brands fa-python"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Django - Desarrollo web y APIs</h3>
          <p class="service__description">
            Desarrollo de aplicaciones web y ORM con Python y SQL Server,
            PostgreSQL, uso de Docker como contenedor. Experiencia en despliegue
            con Azure.
          </p>
        </div>
      </article>
      <!-- ANGULAR -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-brands fa-angular"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Angular - Desarrollo web</h3>
          <p class="service__description">
            Desarrollo de SPA con Angular, SASS y Typescript, Alta
            personalización de Bootstrap 5, manejo de rutas, compilación y
            despliegue en Nube.
          </p>
        </div>
      </article>
      <!-- NODE JS -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-brands fa-node-js"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Node Js - Backend API</h3>
          <p class="service__description">
            Desarrollo de API con Node js y Express, middlewares, y rutas con
            uso correcto de los métodos y verbos, Headers, parámetros,
            implementación JWT y BCrypt, conexión a bases de datos relacionales
            y no relaciones como MySQL y MongoDB. Implementación de web-sockets
            cliente y servidor. Implementación de tecnologías Serverless con
            Cloud Functions, Backend con Firebase Admin. Experiencia con
            despliegue de funciones con Firebase y despliegue en Microsoft Azure
            y servicios de hosting.
          </p>
        </div>
      </article>
      <!-- DESARROLLO SOFTWARE -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-solid fa-laptop-code"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Desarrollo de software</h3>
          <p class="service__description">
            Desarrollo de software con enfoque en DDD (Domain Driven Desing)
            basado en buenas practicas de software como Patrones de Diseño,
            Principios SOLID y Arquitecturas limpias, Diseño de diagramas UML,
            Diagramas relacionales, MER, diagrama de casos de uso, diagrama de
            actividades, diagramas de secuencia, diagramas de flujo.
          </p>
        </div>
      </article>
      <!-- TRABAJO COLABORATIVO -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-brands fa-git"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Trabajo colaborativo</h3>
          <p class="service__description">
            Manejo de repositorios en DevOps, Github y GitLab, Azure Pipelines,
            Github Actions. Proyectos a través del marco ágil SCRUM.
          </p>
        </div>
      </article>
      <!-- UI/UX -->
      <article class="services__service">
        <div class="service__icon">
          <i class="fa-brands fa-figma"></i>
        </div>
        <div class="service__content">
          <h3 class="service_title">Diseño UI/UX</h3>
          <p class="service__description">
            Adobe XD y Figma para creación de mockups, y rotato para crear
            presentaciones de software 3D animadas.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section class="about__reviews">
    <header class="reviews__header">
      <h2 class="reviews__title">Reseñas</h2>
    </header>
    <div class="reviews__container">
      <article class="reviews_review">
        <div class="review__image-container">
          <img
            src="../../../../assets/img/testimonio1.jpg"
            alt="testimonio 1"
            class="review__image"
          />
        </div>
        <div class="review__description">
          <p class="review__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            voluptate exercitationem repellendus consequuntur eos molestiae
            autem praesentium ea laboriosam quis sequi reiciendis dolorem non,
            unde dolor eveniet repellat sunt? Molestiae!
          </p>
        </div>
        <div class="review__author">
          <div class="review__author-info">
            <h4 class="review__info">Ana Lopéz</h4>
            <h5 class="review__company">Developers S.A</h5>
          </div>
          <div class="review__author-icon">
            <i class="review__icon fa-solid fa-quote-right"></i>
          </div>
        </div>
      </article>
      <article class="reviews_review">
        <div class="review__image-container">
          <img
            src="../../../../assets/img/testimonio2.jpg"
            alt="testimonio 1"
            class="review__image"
          />
        </div>
        <div class="review__description">
          <p class="review__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa
            voluptate exercitationem repellendus consequuntur eos molestiae
            autem praesentium ea laboriosam quis sequi reiciendis dolorem non,
            unde dolor eveniet repellat sunt? Molestiae!
          </p>
        </div>
        <div class="review__author">
          <div class="review__author-info">
            <h4 class="review__info">Ruben Martinez</h4>
            <h5 class="review__company">Full Stack S.L</h5>
          </div>
          <div class="review__author-icon">
            <i class="review__icon fa-solid fa-quote-right"></i>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="about__clients">
    <header class="clients__header">
      <h2 class="clients__title">Clientes</h2>
    </header>
    <div class="clients__container">
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-1.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-2.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-3.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-4.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
      <article class="clients__item">
        <a href="#" class="clients__link">
          <img
            src="../../../../assets/img/cliente-5.png"
            alt=""
            class="clients__image"
          />
        </a>
      </article>
    </div>
  </section>

  <section class="about__prices">
    <header class="prices__header">
      <h2 class="prices__title">Precios</h2>
    </header>
    <div class="prices__container">
      <article class="prices__box">
        <div class="prices__subtitle">
          <span class="prices_text">Normal</span>
        </div>

        <div class="prices__price">
          <span class="price__number">$20 USD </span>
          <small class="price__advice">Al mes</small>
        </div>

        <div class="prices__buy">
          <a href="#" class="prices__btn">Prueba Gratis</a>
        </div>

        <div class="prices__reward">Un curso de desarrollo web</div>
        <div class="prices__reward">Soporte a preguntas y dudas</div>
        <div class="prices__reward">Certificado de finalización</div>
      </article>
      <article class="prices__box">
        <div class="prices__subtitle">
          <span class="prices_text">Premium</span>
        </div>

        <div class="prices__price">
          <span class="price__number">$50 USD </span>
          <small class="price__advice">Al mes</small>
        </div>

        <div class="prices__buy">
          <a href="#" class="prices__btn">Prueba Gratis</a>
        </div>

        <div class="prices__reward">Cinco cursos de desarrollo web</div>
        <div class="prices__reward">Soporte a preguntas y dudas</div>
        <div class="prices__reward">Certificado de finalización</div>
      </article>
    </div>
  </section>

  <section class="about__extra">
    <header class="extra__header">
      <h2 class="extra__title">
        Información <span class="title__color">Extra</span>
      </h2>
    </header>
    <div class="extra__container">
      <article class="extra__info">
        <i class="fa-solid fa-heart extra__icon"></i>
        <h4 class="extra__subtitle">Alumnos Contentos</h4>
        <span class="extra__quantity">375.00</span>
      </article>
      <article class="extra__info">
        <i class="fa-solid fa-clock extra__icon"></i>
        <h4 class="extra__subtitle">Horas de contenido</h4>
        <span class="extra__quantity">800</span>
      </article>
      <article class="extra__info">
        <i class="fa-solid fa-star extra__icon"></i>
        <h4 class="extra__subtitle">Puntación</h4>
        <span class="extra__quantity">10</span>
      </article>
    </div>
  </section>
</div>
