<section class="about__services">
  <header class="services__header">
    <h2 class="services__title">
      Mis <span class="title__color">Habilidades</span>
    </h2>
  </header>
  <div class="services__container">
    <!-- DESARROLLO SOFTWARE -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-solid fa-solid fa-laptop-code"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Desarrollo de software</h3>
        <h4 class="service_subtitle">[Experiencia: 6 Años]</h4>
        <p class="service__description">
          Desarrollo de software con enfoque en DDD (Domain Driven Desing)
          basado en buenas practicas de software como Patrones de Diseño,
          Principios SOLID y Arquitecturas limpias, Diseño de diagramas UML,
          Diagramas relacionales, MER, diagrama de casos de uso, diagrama de
          actividades, diagramas de secuencia, diagramas de flujo.
        </p>
      </div>
    </article>
    <!-- FLUTTER -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-flutter fa-solid fa-mobile-screen"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Flutter - Desarrollo móvil y web</h3>
        <h4 class="service_subtitle">[Experiencia: 4 Años]</h4>
        <p class="service__description">
          Desarrollo de aplicaciones móviles, web y de escritorio, manejo de
          animaciones personalizadas, persistencia de datos con SQLite, Shared
          preferences, gestor de estado Bloc, Provider y GetX. Experiencia en
          despliegue de aplicaciones en las tiendas y despliegue en servicios de
          nube como Microsoft Azure, amplia experiencia en la implementación de
          Firebase.
        </p>
      </div>
    </article>
    <!-- PYTHON -->
    <!-- <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-python fa-brands fa-python"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Django - Desarrollo web y APIs</h3>
        <h4 class="service_subtitle">[Experiencia: 1 Año]</h4>
        <p class="service__description">
          Desarrollo de aplicaciones web y ORM con Python y SQL Server,
          PostgreSQL, uso de Docker como contenedor. Experiencia en despliegue
          con Azure.
        </p>
      </div>
    </article> -->
    <!-- ANGULAR -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-angular fa-brands fa-angular"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Angular - Desarrollo web</h3>
        <h4 class="service_subtitle">[Experiencia: 2 Años]</h4>
        <p class="service__description">
          Desarrollo de SPA con Angular, Alta personalización de Bootstrap 4+,
          Sass o CSS, implementación de rutas y módulos, compilación y
          despliegue en la Nube. He desarrollado proyectos creando aplicaciones
          web dinámicas y eficientes. Además, tengo experiencia en integración
          de APIs y pruebas unitarias.
        </p>
      </div>
    </article>
    <!-- NODE JS -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-nodejs fa-brands fa-node-js"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Node Js - Backend API</h3>
        <h4 class="service_subtitle">[Experiencia: 2 Años]</h4>
        <p class="service__description">
          Desarrollo de APIs con Node js y Express, conexión a bases de datos.
          Implementación de tecnologías Serverless con Cloud Functions, Backend
          con Firebase Admin. Experiencia con despliegue de funciones con
          Firebase y despliegue en Microsoft Azure y servicios de hosting.
        </p>
      </div>
    </article>
    <!-- TRABAJO COLABORATIVO -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-git fa-brands fa-git"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Trabajo colaborativo</h3>
        <h4 class="service_subtitle">[Experiencia: 4 Años]</h4>
        <p class="service__description">
          Implementación de control de versiones con Git y manejo de
          repositorios en DevOps, Github y GitLab, configuración de Azure
          Pipelines, Github Actions. he participado en proyectos a través del
          marco ágil SCRUM.
        </p>
      </div>
    </article>
    <!-- UI/UX -->
    <article class="services__service">
      <div class="service__icon">
        <i class="service__icon-solid fa-brands fa-figma"></i>
      </div>
      <div class="service__content">
        <h3 class="service_title">Diseño UI/UX</h3>
        <h4 class="service_subtitle">[Experiencia: 5 Años]</h4>
        <p class="service__description">
          Creación de interfaces, recursos y presentaciones con Adobe XD y
          Figma, Creación de piezas gráficas con rotato para crear
          presentaciones de software 3D animadas.
        </p>
      </div>
    </article>
  </div>
</section>
