/* VARIABLES */
:root {
  --color-principal: #fff;
  --color-secondary: #04b4e0;
  --color-background: #f2f7f9;
  --color-transparent: transparent;
  --color-icon: #b5b6b7;
  --color-subtitle: #888;
  --color-titles: #222;
  --color-text: #555;
  --color-scrollbar: #D3D3D3;
  --color-background-scrollbar: #EEE;
}

