<div class="layout">
  <aside class="layout__aside">
    <section class="aside__user-info">
      <!-- User Information -->
      <div class="user-info__general">
        <div class="user-info__container-img">
          <img
            src="assets/img/default-user.jpg"
            width="300"
            class="user-info__img"
            alt="Foto de perfil"
          />
        </div>
        <h2 class="user-info__name">mirxtrem apps</h2>
        <h4 class="user-info__job">Curriculum Vitae</h4>
      </div>
      <!-- Navigation menu -->
      <app-nav></app-nav>
      <!-- Redes sociales -->
      <div class="user-info__links">
        <ul class="links__social">
          <li class="social__option">
            <a href="" class="social__link">
              <i class="social__icon fa-brands fa-youtube"></i>
            </a>
          </li>
          <li class="social__option">
            <a href="" class="social__link">
              <i class="social__icon fa-brands fa-linkedin"></i>
            </a>
          </li>
          <li class="social__option">
            <a href="" class="social__link">
              <i class="social__icon fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- Descargar CV -->
      <div class="user-info__buttons">
        <a href="#" class="user-info__btn">Descargar CV</a>
      </div>
      <!-- Pie de pagina -->
      <footer class="user-info__footer">&copy; 2024 mirxtrem apps</footer>
    </section>
  </aside>

  <main class="layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
