<section class="about__clients">
  <header class="clients__header">
    <h2 class="clients__title">Clientes</h2>
  </header>
  <div class="clients__container">
    <article class="clients__item">
      <a href="#" class="clients__link">
        <img
          src="../../../../assets/img/cliente-1.png"
          alt=""
          class="clients__image"
        />
      </a>
    </article>
    <article class="clients__item">
      <a href="#" class="clients__link">
        <img
          src="../../../../assets/img/cliente-2.png"
          alt=""
          class="clients__image"
        />
      </a>
    </article>
    <article class="clients__item">
      <a href="#" class="clients__link">
        <img
          src="../../../../assets/img/cliente-3.png"
          alt=""
          class="clients__image"
        />
      </a>
    </article>
    <article class="clients__item">
      <a href="#" class="clients__link">
        <img
          src="../../../../assets/img/cliente-4.png"
          alt=""
          class="clients__image"
        />
      </a>
    </article>
    <article class="clients__item">
      <a href="#" class="clients__link">
        <img
          src="../../../../assets/img/cliente-5.png"
          alt=""
          class="clients__image"
        />
      </a>
    </article>
  </div>
</section>
