<section class="about__reviews">
  <header class="reviews__header">
    <h2 class="reviews__title">Reconocimientos</h2>
  </header>
  <div class="reviews__container">
    <article class="reviews_review">
      <div class="review__image-container">
        <img
          src="assets/img/victor-manuel.jpg"
          alt="testimonio 1"
          class="review__image"
        />
      </div>
      <div class="review__description">
        <p class="review__text">
          Recomiendo totalmente al Ing. Gustavo Arango como un profesional con
          toda la capacidad y aptitud en el dominio de las herramientas de
          desarrollo indicadas por él mismo. Y reconozco su vocación de servicio
          a la comunidad de desarrolladores en base a mi experiencia propia ya
          que me asesoró y ayudó para sacar adelante un proyecto de tesis de
          Ingeniería de Sistemas Computacionales. Éxitos Gustavo.
        </p>
      </div>
      <div class="review__author">
        <div class="review__author-info">
          <h4 class="review__info">Victor Manuel Veloz</h4>
          <h5 class="review__company">
            Consultor de Tecnologías y Transformación Digital
          </h5>
        </div>
        <div class="review__author-icon">
          <i class="review__icon fa-solid fa-quote-right"></i>
        </div>
      </div>
    </article>
    <article class="reviews_review">
      <div class="review__image-container">
        <img
          src="assets/img/sandra-carrillo.jpg"
          alt="testimonio 3"
          class="review__image"
        />
      </div>
      <div class="review__description">
        <p class="review__text">
          Gustavo es un profesional impecable, el aporte que realiza al equipo
          de trabajo permite lograr rápidamente los objetivos. Se resalta su
          compromiso, trabajo en equipo, liderazgo y responsabilidad con los
          frentes que tiene asignados.
        </p>
      </div>
      <div class="review__author">
        <div class="review__author-info">
          <h4 class="review__info">Sandra Paola Carrillo Ruiz</h4>
          <h5 class="review__company">
            Product Owner Applicación móvil CCB | Gerente de cuenta | Lider de
            proyectos de transformación digital
          </h5>
        </div>
        <div class="review__author-icon">
          <i class="review__icon fa-solid fa-quote-right"></i>
        </div>
      </div>
    </article>
    <article class="reviews_review">
      <div class="review__image-container">
        <img
          src="https://media.licdn.com/dms/image/C4D0BAQEbI0iuaic_aA/company-logo_100_100/0/1641935031662?e=1705536000&v=beta&t=n_W4ZoZZ6bXgFiCCljLH1lN5Qt2cgJqg96tDL-Sf_O8"
          alt="testimonio 2"
          class="review__image"
        />
      </div>
      <div class="review__description">
        <p class="review__text">
          Reconocimiento a Gustavo Arango por hacer realidad el proyecto de
          transformación digital de la Gerencia de Relacionamiento con Cliente
          de la CCB y la Vicepresidencia de TI - App 2.0.
        </p>
      </div>
      <div class="review__author">
        <div class="review__author-info">
          <h4 class="review__info">
            Maria Isabel Vega - María del Pilar Londoño
          </h4>
          <h5 class="review__company">
            Gerente de Relacionamiento con el Cliente - Vicepresidente de
            Tecnología
          </h5>
        </div>
        <div class="review__author-icon">
          <i class="review__icon fa-solid fa-quote-right"></i>
        </div>
      </div>
    </article>
  </div>
</section>
